test.py
temp_config.sh
*.pyc
Data/*
WorkingStates/*
BotConfigs/*
BotStates/*
BotData/*
Shortcuts/*
.venv/*
src/PythonServer/.env
*.luases
Test/*
*.env
src/Dashboard/resources
Audio/*.zip
*.flac
