@font-face {
  font-family: silkScreen;
  src: url("Silkscreen/Silkscreen-Regular.ttf");
}

body {
  background-color: lightgoldenrodyellow;
  display: flex;

  font-family: silkScreen;
  font-size: medium;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
}

#pokemon-table-container {
  flex: 1 1 auto;
  align-items: flex-end;
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pokemon-bot-area {
  align-items: flex-start;
  background-color: orange;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
}

thead {
  background-color: beige;
  position: relative;
  white-space: nowrap;
}

.pokemon-table-area {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  background-color: black;

  flex: 1 1 auto;
}

.encounter-table, .shiny-table {
  display: table;
  table-layout: fixed;
  height: fit-content;
  width: 100%;
}

.encounter-table {
  background-color: lightpink;
}

.shiny-table {
  background-color: (100, 100, 20, .4);
}

.encounter-row, .shiny-row, .shiny-table-column-header-row, .encounter-table-column-header-row {
  background-color: aliceblue;
  white-space: nowrap;
}

.encounter-row {
  background-color: lightblue;
}

.shiny-row {
  background-color: yellow;
}

.shiny-table-column-header-row, .encounter-table-column-header-row {
  font-size: x-small;
}

.shiny-time {
  justify-content: left;
}

.scrolling-ticker {
  flex: 0 0 auto;
  background-color: cadetblue;
}

td {
  text-align: center;
  vertical-align: middle;
}

.stream-view-port {
  width: 100%;
  padding-top: 75%; /* 4:3 Aspect ratio */
  background-color: lightseagreen;
}