<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/dashboard.css">
        <link rel="stylesheet" href="/static/ticker.css">
        <link rel="stylesheet" href="/static/current_song_widget.css">
    </head>
    <body>
        <div id="current_song_frame">
          <img id="current_song_album_cover"></img>
          <div id="current_song_details_frame">
            <div id="current_song_title" class="current_song_main_row">Air, Earth, Fire, Water, Long Ago the four nations lived in harmony. But then, everything changed when the Fire Nation attacked</div>
            <div id="current_song_album" class="current_song_sub_row">Album: This is a test album</div>
            <div id="current_song_artist" class="current_song_sub_row">Artist: This is a test artist</div>
            <div id="current_song_date" class="current_song_sub_row">Date: This is a test Date</div>
          </div>
        </div>
        <div id="pokemon-table-container"></div>
    </body>
    <script src="/static/jquery-3.7.1.min.js"></script>
    <script src="/static/color.js"></script>
    <script src="/static/pokemon_elements.js"></script>
    <script src="/static/dashboard.js"></script>
</html>