<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/dashboard.css">
        <link rel="stylesheet" href="/static/ticker.css">
        <link rel="stylesheet" href="/static/current_song_widget.css">
    </head>
    <body>
        <div id="current_song_frame">
            <div id="icon_frame">
              <img id="current_song_album_cover"></img>
            </div>
            <div id="current_song_details_frame">
              <div id="current_song_top_row"></div>
              <div id="current_song_bottom_row"></div>
            </div>
          </div>
        <div id="pokemon-table-container"></div>
    </body>
    <script src="/static/jquery-3.7.1.min.js"></script>
    <script src="/static/color.js"></script>
    <script src="/static/pokemon_elements.js"></script>
    <script src="/static/dashboard.js"></script>
</html>